[Unit]
Description=Run NetGuard integrity check every minute

[Timer]
OnCalendar=*-*-* *:*:45
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target
